@model RecipeApplication.Models.MealPlannerModel


@using (Html.BeginForm("AddToMealPlan", "Recipe", FormMethod.Post))
{
	<div class="modal-body">
		<input type="hidden" name="value.id" value="@ViewBag.Id" />

		<div class="b-l-d-buttons">
			Meal		
			<br />


			<input type="radio" name="slot" id="flexRadioDefault1" value="1" required>
			<label for="flexRadioDefault1">Breakfast</label>

			<input type="radio" name="slot" id="flexRadioDefault2" value="2">
			<label for="flexRadioDefault2">Lunch</label>

			<input type="radio" name="slot" id="flexRadioDefault3" value="3">
			<label for="flexRadioDefault3">Dinner</label>

		</div>

		<br />
		<br />

		<div class="serving-input">
			<label for="servings">Servings</label>
			<input type="number" id="servings" name="value.servings" min="1" />
		</div>


		<br />
		<hr />

		<input class="add-to-meal-plan-button" id="Submit" type="submit" value="Add to Meal Plan" />
	</div>
}


<style>
	.modal-body {
		text-align: center;
	}

		.serving-input {
		}

	.serving-input label {
		margin-right: 10px; /* Adjust the margin value as needed */
	}

	#servings {
		outline: none; /* Remove the default focus outline */
	}
</style>