@{
	Layout = "_Layout";
	ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Privacy Policy</title>

</head>
<body>
	<div class="container" style="padding: 160px 0 60px 0; text-align: center;">
		<h1>@ViewData["Title"]</h1>
		<p>Nothing to see here yet but here's a pic of a cute doggo wearing shades :D</p>
		<img src="~/img/doggo-pic.jpg" class="img-fluid" alt="">
	</div>

</body>
</html>
