.sidebarText {
    padding: 0 3px;
}

.sidebar {
    margin-top: 51px;
    background-color: #CD5C5C;
    width: 250px;
    max-width: 250px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    transform: translate(-260px);
    transition: transform 0.5s;
    color: white;
    border-radius: 0px 20px 20px 0px;
    overflow-y: auto;
    z-index: 2;
    height: 80vh;
    position: fixed;
    opacity: 0.95;
}

h5 {
    padding: 20px;
    text-decoration: underline;
}

h3 {
    padding: 20px 10px 0px 10px;
    text-align:center;
}

.meal {
    margin: 10px;
}
    .siderbar ul {
        list-style: none;
        padding-left: 0px;
        font-size: 1.3rem;
    }

        .siderbar ul li {
            padding-left: 30px;
            font-size: 1.1rem;
        }

#sidebar a {
    color: white;
    text-decoration: none;
}

.siderbar ul li:hover {
    font-weight: 550;
}

#nutrients {
    margin-bottom: 25px;
}

#nutrient-summary {
    text-align: center;
}

#nutrients p {
    margin: 0px;
}


.button-container {
    text-align: center;
    padding-bottom: 10px;
}

.button-container form,
.button-container button {
    display: inline-block;
    margin: 5px;
}


::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf;
    }


ul {
    list-style-type: none;
}

.delete-button {
    margin-right: 5px;
    margin-bottom: 5px;
    border: none;
    background: none;
    color:#fff;
}
